version: '3.8'

services:
  helloworld:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      # New Relic Configuration
      - NEW_RELIC_LICENSE_KEY=${NEW_RELIC_LICENSE_KEY}
      - NEW_RELIC_APP_NAME=${NEW_RELIC_APP_NAME:-HelloWorld-Alpine}
      
      # .NET Profiler Environment Variables for New Relic
      - CORECLR_ENABLE_PROFILING=1
      - CORECLR_PROFILER={36032161-FFC0-4B61-B559-F6C5D41BAE5A}
      - CORECLR_NEWRELIC_HOME=/app/newrelic
      - CORECLR_PROFILER_PATH=/app/newrelic/libNewRelicProfiler.so
      
      # Optional: New Relic additional settings
      - NEW_RELIC_LOG_LEVEL=${NEW_RELIC_LOG_LEVEL:-info}
      - NEW_RELIC_DISTRIBUTED_TRACING_ENABLED=true
      - ASPNETCORE_URLS=http://+:8080
